## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lima,PE,-12.0432,-77.0282,58.89,86,75,8.05,broken clouds
1,1,Victoria,HK,22.2855,114.1577,94.96,64,5,5.99,clear sky
2,2,Hithadhoo,MV,-0.6000,73.0833,81.68,72,68,4.90,broken clouds
3,3,Albany,US,42.6001,-73.9662,55.40,83,79,3.67,broken clouds
4,4,Yellowknife,CA,62.4560,-114.3525,48.72,93,40,8.05,scattered clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for a trip ?"))
max_temp = float(input("What is the maximim temperature you would like for a trip ?"))

What is the minimum temperature you would like for a trip ?35
What is the maximim temperature you would like for a trip ?75

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
hotels_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
hotels_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lima,PE,-12.0432,-77.0282,58.89,86,75,8.05,broken clouds
3,3,Albany,US,42.6001,-73.9662,55.40,83,79,3.67,broken clouds
4,4,Yellowknife,CA,62.4560,-114.3525,48.72,93,40,8.05,scattered clouds
5,5,Bluff,NZ,-46.6000,168.3333,46.80,62,52,4.72,broken clouds
6,6,Saldanha,ZA,-33.0117,17.9442,48.25,88,92,9.19,overcast clouds

In [8]:
# 4a. Determine if there are any empty rows.
hotels_df.isnull().sum()

City_ID                0
City                   0
Country                4
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
hotels_data_df = hotels_df.dropna()
hotels_data_df.count()

City_ID                433
City                   433
Country                433
Lat                    433
Lng                    433
Max Temp               433
Humidity               433
Cloudiness             433
Wind Speed             433
Current Description    433
dtype: int64

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = hotels_data_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Lima,PE,58.89,broken clouds,-12.0432,-77.0282,
3,Albany,US,55.40,broken clouds,42.6001,-73.9662,
4,Yellowknife,CA,48.72,scattered clouds,62.4560,-114.3525,
5,Bluff,NZ,46.80,broken clouds,-46.6000,168.3333,
6,Saldanha,ZA,48.25,overcast clouds,-33.0117,17.9442,
8,Rikitea,PF,72.55,clear sky,-23.1203,-134.9692,
9,La Primavera,CO,71.42,overcast clouds,5.4906,-70.4092,
11,Jiayuguan,CN,72.54,clear sky,39.8167,98.3000,
13,Matay,EG,73.45,clear sky,28.4190,30.7792,
15,Uyovu,TZ,72.07,broken clouds,-3.2833,31.5258,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    location = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Places API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

    # 6e. Make request and retrieve the JSON data from the search. 
    params["location"] = location
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not Found....skipping")
        pass
    
hotel_df.head()

Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping
Hotel not Found....skipping

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Lima,PE,58.89,broken clouds,-12.0432,-77.0282,Hotel Kamana
3,Albany,US,55.40,broken clouds,42.6001,-73.9662,
4,Yellowknife,CA,48.72,scattered clouds,62.4560,-114.3525,The Explorer Hotel
5,Bluff,NZ,46.80,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
6,Saldanha,ZA,48.25,overcast clouds,-33.0117,17.9442,Blue Bay Lodge

In [25]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[(hotel_df["Hotel Name"]!="")]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Lima,PE,58.89,broken clouds,-12.0432,-77.0282,Hotel Kamana
4,Yellowknife,CA,48.72,scattered clouds,62.4560,-114.3525,The Explorer Hotel
5,Bluff,NZ,46.80,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
6,Saldanha,ZA,48.25,overcast clouds,-33.0117,17.9442,Blue Bay Lodge
8,Rikitea,PF,72.55,clear sky,-23.1203,-134.9692,People ThankYou
...,...,...,...,...,...,...,...
670,Slobozia,MD,66.27,scattered clouds,46.7281,29.7078,Городской пляж Слободзеи
671,Gusino,RU,46.45,clear sky,54.7244,31.3680,Motel Oasis
672,Sharanga,RU,50.92,overcast clouds,57.1775,46.5396,Yuronga
679,Sinfra,CI,70.93,overcast clouds,6.6167,-5.9167,Hote Ivoire Sinfra
680,Borger,NL,50.81,broken clouds,52.9233,6.7931,Roompot Bospark Lunsbergen

In [27]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [37]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
                    <dl>
                    <dt>Hotel Name</dt><dd>{Hotel Name}</dd>
                    <dt>City</dt><dd>{City}</dd>
                    <dt>Country</dt><dd>{Country}</dd>
                    <dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
                    </dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

temperatures = clean_hotel_df["Max Temp"]

In [41]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))